<div class="row">
  <div class="col-xs-10 col-xs-offset-1" >

    <div class="form-group">
      <label>Account Name</label>
      <input class="form-control" type="text" #accountName>
    </div>

    <div class="form-group">
      <select class="form-control" #status>
        <option value="active">Active</option>
        <option value="inactive">Inactive</option>
        <option value="hidden">Hidden</option>
      </select>
    </div>
    <button class="btn btn-default" (click)="onAddAccount(accountName.value, status.value)">Add Account</button>
  </div>
</div>
